/* common style */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #ffffff;
  width: 870px;
  margin-top: 21px;
  border-radius: 5px;
}
.top-players {
  padding: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 0;
}
/* top players style */
.players {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-row-gap: 29px;
  
}
.player {
  display: flex;
  align-items: center;
  /* padding-bottom: 29px; */
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}
/* top blog */
.top-blog{
    padding: 30px;
    margin-top: -18px;
}
.blogs{
    display: grid;
    grid-row-gap: 29px;
    grid-template-columns: repeat(2, 1fr);
}
.blog{
    display: flex;
    align-items: center;
}
.blog img{
    width: 177px;
}
.title{
    margin-left: 16px;
    line-height: 34px;
    font-size: 20px;
}
.link{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    text-decoration: none;
}
.link a{
    text-decoration: none;
}
/* Courses */
.section-title{
  margin-left: 33px;
  margin-top: 23px;
}
#flex{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.course-thumbanil img{
  width: 224px;
  height: 104px;
}
.course-title{
  font-size: 20.03px;
}
.course-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-star.filled{
  color: gold;
}
.fa-star{
  color: gainsboro;
  font-size: 12px;
}
/* .duration */
.duration{
  color: #FF4A60;
}
/*----------------
  Media Querries 
 ------------------*/
 /* mobile device */
 @media (max-width:688px) {
   .container{
     width: 100%;
   }
   .section-title{
     text-align: center;
   }
   .players{
     grid-template-columns: repeat(1, 1fr); 
   }
   .player{
    justify-content: center;
    flex-direction: column;
   }
   .blog{
     flex-direction: column;
   }
   .blogs{
     grid-template-columns: 1fr;
   }
   #flex{
     flex-direction: column;
     align-items: center;
   }
   .courses{
     /* align-items: center; */
   }
 }
